body {
  font-family: "Microsoft YaHei", "WenQuanYi Micro Hei", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

func-sign, var-sign, const-sign {
  display: block;
  font-family: Consolas, Monaco, monospace;
}


.myhl {
  color: #00193a;

  .modifier, .identifier {
    font-weight: 600;
  }

  .type {
    color: rgb(121, 11, 115)
  }
  .identifier {
    color: #1203e9;
  }
  .variable {
    color: #1002cd;
  }
  .and {
    color: #384cff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
#toctitle {
  color: #183385;
}

h4,
.text-delta {
  @include fs-4;
}
